body {
    background-color: white;
    display: grid;
    grid-template-rows: "nav" "space" "logo" "space2" "foot";
    margin: 0;
    padding: 0;
    min-width: 750px;
}

.all-text {
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    color: #878787;
    font-weight: 400;
}

.text-dark {
    color: #585858;
    font-weight: 400;
}

.text1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text-dark:hover {
    text-decoration: underline;
    cursor: pointer;
}

.showapps {
    display: inline-block;
    background: url("../google-homepage/showapps.png") center/7% no-repeat;
    margin-top: -.5px !important;
    margin-right: 10px;
    padding: 10px;
    width: 17px;
    opacity: 0.5;
}

.showapps:hover {
    opacity: 1;
    cursor: pointer;
}

.sign-in {
    background-color: #4D89FF;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    margin-right: 8px;
    padding: 8px 20px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

#head-nav {
    grid-area: nav;
    background-color: tomato !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 7px !important;
}

li {
    float: left;
}

#nav-text-left {
    float: left;
    padding: 12px;
}

#nav-text-right {
    float: right;
    padding: 12px;
}

.space {
    grid-area: space;
    padding-bottom: calc(35vh - 12px);
}

.logo {
    grid-area: logo;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#search-bar {
    background: url(../google-homepage/searchicon.png) 3% 50%/4% no-repeat, url(../google-homepage/googlemic.png) 97% 50%/3% no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 40px;
    width: 90%;
    border: .5px #E1E1E1 solid;
    border-radius: 50px;
}

#search-bar:hover {
    border: .5px white solid;
    box-shadow: 0px 0px 15px -2px #b9b9b9;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    background-color: #F5F5F5;
    border: 1px white solid;
    border-radius: 5px;
    color: #878787;
    margin: 1%;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.button:hover {
    border: 1px rgba(207, 206, 206, 0.548) solid;
    color: #585858;
    cursor: pointer;
}

.space2 {
    grid-area: space2;
    padding-top: calc(29vh);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F5F5F5;
}

#foot-nav {
    grid-area: logo;
    display: flow-root;
    border-top: 1px #ECECEC solid;
    background: #F5F5F5;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    float: left;
}

#foot-text-left {
    float: left;
    padding: 10px;
}

#foot-text-right {
    float: right;
    padding: 10px;
}